---
import Link from './Link.astro'
---

<header class="border-b border-stone-400/50 dark:border-stone-600/75">
  <div class="max-w-7xl mx-auto flex items-center divide-x p-3">
    <h1 class="text-lg font-medium pr-3">
      <Link href="/" class="focus-visible:ring-offset-1 -ml-1.5">quickwind</Link>
    </h1>
    <div class="px-3 border-stone-400/50 dark:border-stone-600/75 hidden md:flex items-center gap-1 font-medium">
      <Link href="/colors" highlightable>Colors</Link>
      <Link href="/spacing" highlightable>Spacing</Link>
    </div>
    <div class="px-3 border-stone-400/50 dark:border-stone-600/75">
      <slot name="header-items" />
    </div>
  </div>
</header>
