---
import HeaderLink from './HeaderLink.astro'
---

<header class="border-b border-stone-400/50 dark:border-stone-600/75">
  <div class="max-w-7xl mx-auto flex items-center divide-x py-3">
    <h1 class="text-lg font-medium pr-3">
      <a href="/" class="hover:text-indigo-400 dark:hover:text-indigo-300">quickwind</a>
    </h1>
    <div class="px-3 border-stone-400/50 dark:border-stone-600/75 flex gap-2 font-medium">
      <HeaderLink path="/colors" text="Colors" />
      -
      <HeaderLink path="/spacing" text="Spacing" />
    </div>
    <div class="px-3 border-stone-400/50 dark:border-stone-600/75">
      <slot name="header-items" />
    </div>
  </div>
</header>
