---
import { getColorNames } from '../libs/tailwind'

import PaletteColors from './PaletteColors.astro'
import PaletteShades from './PaletteShades.astro'

const colorNames = getColorNames()
---

<div
  class:list={[
    'grid grid-cols-[auto_repeat(10,_1fr)] grid-rows-[auto_repeat(22,_1fr)] gap-0.5 pb-1',
    'h-full items-center justify-items-center',
  ]}
>
  <PaletteShades />
  {colorNames.map((colorName) => <PaletteColors name={colorName} />)}
</div>
