---
import { getColorShades, type ColorName } from '../libs/tailwind'

export interface Props {
  name: ColorName
}

const { name } = Astro.props

const shades = getColorShades(name)
---

<div>{name}</div>
{Object.entries(shades).map(([shade, color]) => <div style={{ backgroundColor: color }}>{shade}</div>)}
