---
import Head from '../components/Head.astro'
import Header from '../components/Header.astro'
---

<html lang="en" class="h-full">
  <head>
    <Head />
  </head>
  <body class="flex flex-col h-full bg-stone-900 text-stone-100 text-sm">
    <Header>
      <slot name="header-items" slot="header-items" />
    </Header>
    <main id="main" class="grow p-3 w-full max-w-7xl mx-auto">
      <slot />
    </main>
  </body>
</html>
